version: "3.9"

services:
  finapp:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: finapp
    expose:
      - "80"
    restart: unless-stopped
    networks:
      - webnet

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/certs:/etc/letsencrypt
    depends_on:
      - finapp
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
